
.image-box{
  h3{
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
  }
}

.addPageBanners{
  padding: 10px;
}

.dashboard-data{
  .data>div{
    padding: 20px;
  }
  .data{
    p{

    }
    h3{
      text-align: center;
    }
  }
}

